*

!docker/
!docker/**
!src/
!src/**
!config/
!config/**
!scripts/
!scripts/**
!sender_agent/
!sender_agent/**
!wechat_sender/
!wechat_sender/**
!pyproject.toml
!README.md
!LICENSE
!requirements-sender-agent.txt
